[data-theme="light"] {
  --bg-color: #fff;
  --text-color: linear-gradient(97.64deg, #ff621f 3.48%, #ac25ff 88.39%);
  --date-color: #e6007e;
  --theme-color: #000;
  --month-day-color: #83818e;
  --text-day-color: #281533;
  --table-color: radial-gradient(
    178.83% 127.06% at -79.04% 49.86%,
    #aa0e6c 0%,
    #b414ff 100%
  );
}
[data-theme="dark"] {
  --bg-color: #000;
  --text-color: linear-gradient(
    73.58deg,
    #ffed00 -248.03%,
    #ffd439 -186.33%,
    #f6a971 -86%,
    #ef7e83 10.01%,
    #ea5584 98.89%,
    #e83081 179.19%,
    #e6037f 248.04%,
    #e6007e 297.52%
  );
  --date-color: #e6007e;
  --theme-color: #fff;
  --month-day-color: #fff;
  --text-day-color: #fff;
  --table-color: linear-gradient(
    90deg,
    #ffed00 -288.6%,
    #ffd439 -224.76%,
    #f6a971 -120.96%,
    #ef7e83 -21.62%,
    #ea5584 70.33%,
    #e83081 153.42%,
    #e6037f 224.66%,
    #e6007e 275.85%
  );
}
body {
  background: var(--bg-color);
}

.dark-mode {
  position: fixed;
  outline: none;
  border: none;
  background: var(--theme-color);
  color: var(--bg-color);
  cursor: pointer;
  bottom: 0;
  left: 50%;
  width: 100%;
  padding: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transform: translateX(-50%);
  font-size: calc(25px + 8 * ((100vw - 320px) / (1200 - 320)));
}

.calendar {
  margin-top: calc(8px + 32 * ((100vw - 320px) / (1200 - 320)));
  margin-bottom: calc(50px + 20 * ((100vw - 320px) / (1200 - 320)));
}
.calendar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  padding-left: calc(12px + 32 * ((100vw - 320px) / (1200 - 320)));
  padding-right: calc(12px + 32 * ((100vw - 320px) / (1200 - 320)));
}

.calendar-title button {
  outline: none;
  border: none;
  margin: 0 20px;
  cursor: pointer;
}
.calendar header {
  margin-bottom: calc(25px + 16 * ((100vw - 320px) / (1200 - 320)));
}

.calendar header h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: calc(55px + 85 * ((100vw - 320px) / (1200 - 320)));
  line-height: calc(260 / 200);
  background-image: var(--text-color);
  color: transparent;
  background-clip: text;
  margin: 0;
}

.calendar header p > span {
  display: flex;
}
.calendar header button {
  cursor: pointer;
  outline: none;
  border: none;
}

.calendar header p,
.calendar header button,
.calendar header p span button {
  font-size: calc(25px + 38 * ((100vw - 320px) / (1200 - 320)));
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 100%;
  background-image: var(--text-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.calendar-next,
.calendar-prev {
  margin: auto 0 !important;
  font-size: calc(10px + 10 * ((100vw - 320px) / (1200 - 320))) !important;
}

.calendar-body {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
}
.calendar-body > div {
  margin: 0 auto;
}
.calendar table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}

.calendar th {
  vertical-align: middle;
  text-align: center;
  height: 36px;
  color: var(--date-color);
  text-transform: uppercase;
}

.calendar .day {
  padding: 4px 8px;
  vertical-align: middle;
  text-align: center;
  border: 2px solid transparent;
}

.calendar .day:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.calendar .day.selected {
  border: 2px solid var(--date-color);
  border-radius: 4px;
}

.calendar .day.happy {
  color: var(--date-color);
}

.calendar .day.today {
  background-color: var(--date-color);
  color: white;
  border-radius: 4px;
  transition: linear 0.2s;
}

.calendar .day.today:hover {
  transform: scale(1.3);
}

.calendar .day.today.selected {
  border: 2px solid lightgray;
}

.table-title {
  font-size: 28px;
  background-image: var(--table-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin: 14px 0;
  text-transform: uppercase;
  font-weight: 700;
}

.table-text {
  text-transform: uppercase;
  font-size: 28px;
  margin: 0;
  font-weight: 900;
  color: var(--text-day-color);
  max-width: 190px;
}
tbody td {
  font-weight: 700;
  color: var(--month-day-color);
}
tbody td:nth-child(6),
tbody td:nth-child(7) {
  color: var(--date-color);
}

.arrow,
.arrow:before {
  /* position: absolute; */
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  transform: rotate(-45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #000 solid;
  border-bottom: 1px #000 solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(10px, 10px);
  }
}
